/* ------common ----- */
*{
    font-family: Arial ;
    margin: 0;
}

/* ----------------
        header
    --------------- */


/* --main-header-- */
.main-header{
    height: 1130px;
    background-color: rgba(255, 144, 14, 0.1);
     
}

/* -------------nav-bar----------- */

.navigationbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100% ;
    height: 200px; 
}
.nav-title{
    width: 302px;
    height: 56px;
    font-size: 30px;
    margin-left: 150px;
    color: #131313;
}
.nav-bar a{
    text-decoration: none; 
    font-size: 18px; 
    color: #424242;
    text-align: center;
}
.nav-bar a:hover{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.nav-bar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 477px;
    height: 26px;
    text-align: right;
    margin-right: 150px;
    
}

/* ---------header-description-------- */

.main-description{
    width: 863px;
    height: 300px;
    margin-top:60px ;
     
    text-align: center;
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    justify-content: space-around;
}
.sub-description h1{
    font-size: 65px;
    font-weight: 700;
}
.sub-description p {
    font-size: 16px;
    color: #727272;
    margin-top: 25px;
}
.main-btn button{
    color:rgb(255, 255, 255);
    width: 180px;
    height: 64px;
    background-color: orange;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
    margin-top:25px ;
}
.main-btn button:hover{
    background-color: black;
    color: orange;
    transform:scale(0.9);
    transition:all 0.7s;
}
.main-btn{
    display: flex;
    justify-content: center;
}
/* ----------header-baner------- */
.baner img{
    width: 1000px;
    height:500px;
}
.baner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* --------------
    section
------------------ */

.section-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}
.imu {
    width: 300px;
    height: 300px;
}
.box-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
    gap: 8px; 
    margin-left: 105px;
}
.image-description{
    width: 500px;
    height: 300px;
    margin-right: 100px;
}
.image-description h2{
    font-size: 45px;
}
.title-1{
    color: #727272;
}
.title-2{
    color: #131313;
    font-weight: bolder;
}
.title-3{
    color: orange;
    font-weight: bolder;
     
}
.image-description p{
    font-size: 16px;
    margin-top: 20px;
    color: #727272;
}
.image-description button{
    width: 180px;
    height: 64px;
    margin-top: 25px;
    color: white;
    border-radius: 5px;
    background-color: orange;
    border: 0px;
    font-size: 20px;
}
/* --------hover:animation--------- */
.image-description button:hover{
    background-color: black;
    color: orange;
    transform:scale(0.9);
    transition:all 0.9s;
}

/* -----------------
         main
----------------- */
/* ---left-side-- */

.main-parents{
    width: 100%;
    height: 1000px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: space-around;
    margin-top: 130px; 
       
    
}
.main-title h2{
    width: 468px;
    height: 106px;
    font-size: 45px;
    border-left: 5px solid orange;
    padding: 0px 20px;
}
.main-des p{
    width: 490px;
    height: 78px;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}
.div-list {
    width: 0px;
    height: 78px;
    margin-top: 10px;
    box-shadow: 1px 0px 8px -5px black;
}
.list{
     
    width: 450px;
    height: 107px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 0px 7px -5px black;
}
.list p{
    color: #727272;
    margin-top: 20px;
    font-size: 16px;
}
.list h2{
    font-size: 20px;
    margin-top: 5px;
     
}
 
.left-side{
    width: 450px;
    margin-top: 65px;
    margin-left: 50px;   
}
/* ---right-side---- */

 .right-side {
    width: 700px;
    height: 980px;
    margin-right: 40px;
    
 }

 /* --------button--------- */

 .big-btn{
    width: 330px;
    height: 180px;
    font-size: 18px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border: 0px;
 }
  
 .big-btn span{
    font-size: 65px;
    font-weight: bolder;
 }
 .btn-div{
    display: flex;
    justify-content: center;
    margin-top: 70px;
 }
 /* --------experience------- */
 .experience{
    width: 450px;
    height: 150px;
    margin-left: 80px;
    margin-top: 110px;
 }
 .experience h2{
    font-size: 45px;
    font-weight: bold;
 }
 .experience p{
    color:#727272 ;
    font-size: 16px;
    margin-top: 20px;
 }
/* --------box-------- */

.box{
    border: 1px solid  orange;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    text-align: center;
    padding: 30px 0px;  
}
/* ----------------animation-------------- */
.box:hover{

    transform:scale(0.9);
    transition:all 0.7s;
    cursor:pointer;
    border: 2px solid black;
}
.box h2{
    font-size: 35px;
    color: #424242;
    margin-top: 10px;
}
.box h5{
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
}
.sub-box{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.main-box{
    margin-top: 400px;
    width: 1200px;
    margin: auto;
     
     
}
/* ---------article---------- */
.article{
    width: 540px;
    height: 130px;
    text-align: center;
    margin-top:170px ;
}
.article h2{
    font-size: 45px;
    color: #131313;
}
.article p{
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
}
.head-article{
    display: flex;
    justify-content: center;
}

/* ---------logo------------ */

 .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1250px;
    height: 100px;
    margin-left: 65px;
    margin-top: 60px;
 }
 /* -----------footer------------- */
 .footer{
    width: 1250px;
    height:80px;
    background-color: #FFF4E7;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 50px;
    color: #424242;
 }
 .footer-parents{
    display: flex;
    justify-content: center;
 }

